$primary-color: #132242;
$secondary-color: #0d41af;
$darkblue: #002a84;
$btnblue: #193e90;
$mediumblue: #3f06fc;
$skyblue: #3a72b8;
$lightskyblue: #daf0f8;
$white: #ffffff;
$whitesmoke: #f5f6f8;
$gray: #888888;
$lightgray: #c4c4c4;
$lightgray: #d9d9d9;
$black: #212121;
$cyan: #489993;
$yellow: #ffc400;
$lightblue: #eff4f5;
$darklightblue: #24375d;
$greylightblue: #c2dbe5;
$lightyellow: #ffe245;
