.mv-sec {
  margin: 0;
  position: relative;
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: 100%;
}
.mv-sec .mv-container {
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  isolation: isolate;
}
.mv-sec .mv-txt {
  position: absolute;
  top: 32%;
  color: #212121;
  margin-left: 70px;
  letter-spacing: 0;
  font-weight: 700;
  z-index: 99;
}
.mv-sec .mv-txt h2 {
  font-size: 7rem;
  line-height: 1.3;
  margin-bottom: 20px;
}
.mv-sec .mv-txt p {
  font-size: 2rem;
  line-height: 2.5;
}
.mv-sec #image-carousel .splide__list {
  width: 100% !important;
}
.mv-sec #image-carousel .splide__slide img {
  max-width: 1373px;
  margin: 0 0 0 auto !important;
  height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100%;
  object-fit: cover;
}
.mv-sec .splide__pagination {
  display: none;
}

@media screen and (max-width: 1100px) {
  .mv-sec .mv-txt h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 900px) {
  .mv-sec .mv-txt {
    top: 23%;
  }
  .mv-sec .mv-txt h2 {
    font-size: 3.6rem;
  }
  .mv-sec .mv-txt p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 900px) {
  .mv-sec .mv-txt {
    top: 20%;
  }
  .mv-sec .mv-txt h2 {
    font-size: 3.6rem;
  }
  .mv-sec .mv-txt p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .mv-sec .mv-txt {
    max-width: 100%;
    width: fit-content;
    margin: 0 auto;
    position: static;
    padding-top: 100px;
  }
  .mv-sec .mv-txt h2 {
    font-size: 4.1rem;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .mv-sec .mv-txt p {
    font-size: 1.1rem;
    margin-bottom: 35px;
    text-align: center;
  }
  .mv-sec #image-carousel .splide__slide img {
    width: 426px;
    height: 372px;
  }
  .mv-sec .mv-container #image-carousel {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
  }
}
@media screen and (max-width: 374px) {
  .mv-sec .mv-txt h2 {
    font-size: 3.5rem;
  }
}
/*column section start*/
.head-txt {
  text-align: center;
}
.head-txt .head-ttl {
  font-size: 6rem;
  letter-spacing: 1.8px;
  line-height: 1.75;
  font-family: jost-smbold;
}
.head-txt p {
  font-size: 1.6rem;
  color: #888888;
  font-weight: bold;
  margin-top: -12px;
}

.column-sec {
  padding: 50px 0 80px;
}

.column-flex-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 42px 0 45px;
  gap: 20px;
  letter-spacing: 0;
}
.column-flex-list .column-txt-list {
  margin: 12px 0 10px;
}
.column-flex-list .txt-flex-list {
  display: grid;
  grid-template-columns: 66% 34%;
}
.column-flex-list .txt-flex-list .btn {
  display: inline-block;
  font-size: 1.2rem;
  background-color: #132242;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.column-flex-list .txt-flex-list .right-txt {
  font-size: 1.4rem;
  font-weight: bold;
}
.column-flex-list .txt-flex-list .left-txt {
  color: #888888;
  text-align: end;
  font-size: 1.2rem;
}

.button {
  max-width: 320px;
  margin: 0 auto;
}
.button p {
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #132242;
  background: linear-gradient(to right, #132242 50%, #002a84 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0% 98%, 10% 0%, 100% 0%, 90% 98%);
}
.button p:hover {
  background-position: bottom left;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .head-txt {
    text-align: center;
  }
  .head-txt .head-ttl {
    font-size: 3rem;
  }
  .head-txt p {
    font-size: 1.2rem;
    margin-top: -5px;
  }
  .column-sec {
    padding: 35px 0 50px;
  }
  .column-flex-list {
    display: block;
    padding: 35px 0 56px;
  }
  .column-flex-list a {
    display: flex;
    gap: 15px;
  }
  .column-flex-list a .column-img {
    max-width: 150px;
  }
  .column-flex-list a:not(:last-child) {
    margin-bottom: 28px;
  }
  .column-flex-list .column-txt-list {
    margin: 0;
  }
  .column-flex-list .txt-flex-list {
    display: block;
  }
  .column-flex-list .txt-flex-list .left-txt {
    text-align: start;
    font-size: 1.1rem;
  }
  .column-flex-list .txt-flex-list .right-txt {
    font-size: 1.3rem;
  }
  .column-flex-list .txt-flex-list .btn {
    font-size: 1rem;
    padding: 2px 15.5px;
    transform: translateY(-5px);
    margin-bottom: 0;
  }
  .button {
    max-width: 235px;
  }
  .button p {
    padding: 8px 0px;
    font-size: 1.5rem;
  }
}
/*column section end*/
/*message section start*/
.message-sec {
  max-width: 1362px;
  margin: 0 auto;
  background: url(../img/top/message_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  padding-bottom: 85px;
}
.message-sec .d-sp {
  display: none;
}
.message-sec .message {
  padding-bottom: 200px;
}
.message-sec .message-wrapper .message-txt {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 26px 0;
  letter-spacing: 0;
}
.message-sec .message-wrapper .message-content {
  max-width: 830px;
  margin: 0 auto;
}
.message-sec .message-wrapper .message-content p {
  margin-bottom: 30px;
  letter-spacing: 0;
}
.message-sec .message-wrapper .button {
  margin-top: 87px;
}

@media screen and (max-width: 1040px) {
  .message-sec .message {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 768px) {
  .message-sec {
    padding-bottom: 30px;
  }
  .message-sec .message {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 768px) and (max-width: 580px) {
  .message-sec .message {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .message-sec .message-wrapper .message-txt {
    font-size: 1.6rem;
    margin: 23px 0 20px;
  }
  .message-sec .message-wrapper .message-txt .d-sp {
    display: block;
  }
}
@media screen and (max-width: 768px) and (max-width: 374px) {
  .message-sec .message-wrapper .message-txt .d-sp {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .message-sec .message-wrapper .message-content p {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .message-sec .message-wrapper .button {
    margin-top: 33px;
  }
}
/*message section end*/
.news-sec {
  padding: 70px 20px 75px;
  background: url("../img/top/news_bg_img.png") no-repeat center/cover;
  background-attachment: fixed;
}
.news-sec .block {
  max-width: 1000px;
  background: #ffffff;
  margin: 0 auto;
  padding: 50px 0 75px;
}
.news-sec .block .column-block {
  max-width: 785px;
  margin: 0 auto;
  padding: 0px 20px;
}
.news-sec .block .column-flex-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px 0;
  gap: 20px;
}
.news-sec .right-txt {
  font-size: 1.4rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .news-sec .block {
    padding: 30px 0 37px;
  }
  .news-sec .block .column-flex-list {
    display: block;
    padding: 30px 0 35px;
  }
  .news-sec .block .column-flex-list .column-img {
    max-width: 118px;
  }
}
.customer-sec {
  padding: 60px 0px 80px;
}
.customer-sec .column-flex-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px 0 0;
  gap: 20px;
}
.customer-sec .button {
  padding: 50px 0px 80px;
}
.customer-sec .txt-flex-list {
  display: block;
}
.customer-sec .txt-flex-list .left-txt {
  text-align: start;
}
.customer-sec .faq-img {
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}
.customer-sec .faq-img .overlay {
  position: absolute;
  top: 0;
  left: -1000px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.6s ease;
  transition: all 0.4s;
}
.customer-sec .faq-img:hover .overlay {
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.4s;
}
.customer-sec .faq-arrow {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 33px;
  position: absolute;
  top: 50%;
  padding: 0px 37px;
  transform: translateY(-50px);
}
.customer-sec .faq-arrow .arrow-img {
  width: 36px;
  height: 36px;
}
.customer-sec .faq-txt .faq {
  color: #ffffff;
  font-size: 4rem;
}
.customer-sec .faq-txt .txt {
  color: #ffffff;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .customer-sec .column-flex-list {
    display: block;
  }
  .customer-sec .faq-arrow {
    gap: 12px;
    padding: 17px;
  }
  .customer-sec .faq-arrow .arrow-img {
    width: 17px;
    height: 17px;
  }
  .customer-sec .faq-txt .faq {
    color: #ffffff;
    font-size: 2rem;
  }
  .customer-sec .faq-txt .txt {
    color: #ffffff;
    font-size: 1.2rem;
  }
}
/*business section*/
.business-sec {
  background-color: #eff4f5;
  padding: 60px 0 60px;
}
.business-sec .business-maintxt {
  font-weight: 700;
  font-size: 2rem;
  margin: 27px 0 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.3;
}
.business-sec .business-txt {
  line-height: 1.64;
  letter-spacing: 0;
  max-width: 830px;
  margin: 0 auto;
}
.business-sec .business-img {
  max-width: 660px;
  margin: 90px auto 60px;
}
.business-sec .business-img img {
  width: 100%;
}
.business-sec .business-btn {
  position: relative;
  max-width: 660px;
  border: 1px solid #132242;
  margin: 0 auto 30px;
  padding: 32px 40px;
  background-color: #ffffff;
}
.business-sec .business-btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.business-sec .business-btn a span {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.67;
}
.business-sec .business-btn a .img-white {
  display: none;
  transform: translateX(0);
  transition: transform 0.4s linear;
}
.business-sec .business-btn:hover .img-black {
  display: none;
}
.business-sec .business-btn:hover .img-white {
  display: inline-block;
  animation-name: imgAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes imgAnime {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(10px);
  }
}
.business-sec .business-btn:hover {
  background-color: #002a84;
  color: #ffffff;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .business-sec {
    padding: 30px 0 26px;
  }
  .business-sec .business-maintxt {
    font-size: 1.6rem;
    margin: 40px 0 25px;
    line-height: 1.58;
    letter-spacing: -2px;
  }
  .business-sec .business-txt {
    font-size: 1.3rem;
    line-height: 1.73;
    letter-spacing: 0;
    padding: 0;
  }
  .business-sec .business-img {
    max-width: 339px;
    margin: 60px auto 35px;
  }
  .business-sec .business-img img {
    width: 100%;
  }
  .business-sec .business-btn {
    max-width: 280px;
    margin: 0 auto 15px;
    padding: 8px 20px 8px 15px;
  }
  .business-sec .business-btn a img {
    width: 16px;
  }
  .business-sec .business-btn a span {
    font-size: 1.5rem;
    line-height: 1.9;
  }
  .business-sec .business-btn:hover .img-white {
    display: inline-block;
    animation-name: imgAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes imgAnime {
    from {
      opacity: 0;
      transform: translateX(0);
    }
    to {
      opacity: 1;
      transform: translateX(7px);
    }
  }
}
/*business section end*/
/*footer*/
footer .interview-blk {
  padding: 64px 0;
}
footer .interview-blk .interview-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 33px;
  padding: 78px 37px;
  border: 1px solid #c2dbe5;
  background-color: #daf0f8;
  background: linear-gradient(to right, #c2dbe5 50%, #daf0f8 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.3s ease-in-out;
}
footer .interview-blk .interview-box .interview-img {
  width: 38px;
  height: 38px;
}
footer .interview-blk .interview-box .interview-img img {
  width: 100%;
}
footer .interview-blk .interview-box .interview-txt {
  display: flex;
  flex-direction: column;
}
footer .interview-blk .interview-box .interview-txt .interview-eng {
  font-size: 4rem;
  line-height: 1.45;
  letter-spacing: 1.2;
}
footer .interview-blk .interview-box .interview-txt .interview-jp {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.4;
}
footer .interview-blk .interview-box:hover {
  background-position: bottom left;
}
footer .footer-Recruit {
  background-color: #ffc400;
  background: linear-gradient(to right, #ffe245 50%, #ffc400 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.3s ease-in-out;
}
footer .footer-Recruit .footer-Recruit-blk {
  padding: 109px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-Recruit .footer-Recruit-blk .footer-Recruit-img {
  width: 38px;
  height: 38px;
}
footer .footer-Recruit .footer-Recruit-blk .footer-Recruit-img img {
  width: 100%;
}
footer .footer-Recruit .footer-Recruit-blk .footer-Recruit-txt {
  font-size: 3.2rem;
  line-height: 1.35;
  letter-spacing: 2.56px;
  font-weight: 700;
}
footer .footer-Recruit:hover {
  background-position: bottom left;
}
footer .footer-dark-blk {
  background-color: #132242;
  color: #ffffff;
  padding: 40px 0 28px;
}
footer .footer-dark-blk .footer-upper ul {
  display: flex;
  justify-content: start;
}
footer .footer-dark-blk .footer-upper ul li:first-child {
  width: 26%;
}
footer .footer-dark-blk .footer-upper ul li:nth-child(2) {
  width: 25.6%;
}
footer .footer-dark-blk .footer-upper ul li:nth-child(3) {
  width: 25.8%;
}
footer .footer-dark-blk .footer-upper ul li:nth-child(4) {
  width: 22.7%;
}
footer .footer-dark-blk .footer-upper ul li a {
  padding-left: 14px;
  position: relative;
  line-height: 1.65;
  letter-spacing: 0;
}
footer .footer-dark-blk .footer-upper ul li a::before {
  content: "";
  position: absolute;
  background: url("../img/top/footer_arr_icon.png") no-repeat center/contain;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 7px;
  height: 7px;
}
footer .footer-dark-blk .footer-upper ul .third-list ul li a::before {
  content: "";
  position: absolute;
  background: url("../img/top/footer_arr_icon.png") no-repeat center/contain;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 7px;
  height: 7px;
}
footer .footer-dark-blk .footer-upper ul ul {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
}
footer .footer-dark-blk .footer-upper ul ul li:first-child {
  width: 100%;
}
footer .footer-dark-blk .footer-upper ul ul li:nth-child(2) {
  width: 100%;
}
footer .footer-dark-blk .footer-upper ul ul li:nth-child(3) {
  width: 100%;
}
footer .footer-dark-blk .footer-upper ul ul li:nth-child(4) {
  width: 100%;
}
footer .footer-dark-blk .footer-upper ul ul li a {
  font-size: 1.4rem;
  padding-left: 13px;
  position: relative;
  letter-spacing: -1px;
  line-height: 1;
}
footer .footer-dark-blk .footer-upper ul ul li a::before {
  content: "";
  position: absolute;
  background: url("../img/top/footer_drop_icon.png") no-repeat center/contain;
  left: 0;
  top: 55%;
  transform: translateY(-55%);
  width: 7px;
  height: 7px;
}
footer .footer-dark-blk .footer-upper .lower-lists {
  margin: 55px 0 80px;
}
footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list ul {
  padding-left: 0;
}
footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list ul li {
  width: 100%;
}
footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list ul li a {
  font-size: 1.4rem;
  padding-left: 14px;
  position: relative;
  letter-spacing: -1px;
  line-height: 1;
}
footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list ul li a::before {
  content: "";
  position: absolute;
  background: url("../img/top/footer_arr_icon.png") no-repeat center/contain;
  left: 0;
  top: 60%;
  transform: translateY(-60%);
  width: 7px;
  height: 7px;
}
footer .footer-dark-blk .footer-lower {
  border-top: 1px solid #24375d;
  padding-top: 48px;
}
footer .footer-dark-blk .footer-lower .footer-address {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 44px;
}
footer .footer-dark-blk .footer-lower .footer-address .footer-add-ttl {
  line-height: 1.55;
  margin-bottom: 9px;
}
footer .footer-dark-blk .footer-lower .footer-address .footer-add-txt {
  font-size: 1.4rem;
  line-height: 1.8;
}
footer .footer-dark-blk .footer-lower .footer-copyright {
  font-family: "Hiragino-Kaku-Gothic-ProN";
  margin-top: 46px;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sp-sub-container {
    padding: 0 10px;
  }
  footer .interview-blk {
    padding: 40px 0;
  }
  footer .interview-blk .interview-box {
    gap: 12px;
    padding: 17px 12px 21px;
    border: 1px solid #c2dbe5;
    background-color: #daf0f8;
  }
  footer .interview-blk .interview-box .interview-img {
    width: 17px;
    height: 17px;
  }
  footer .interview-blk .interview-box .interview-img img {
    width: 100%;
  }
  footer .interview-blk .interview-box .interview-txt {
    display: flex;
    flex-direction: column;
  }
  footer .interview-blk .interview-box .interview-txt .interview-eng {
    font-size: 2rem;
    line-height: 1.45;
    letter-spacing: 1.2;
  }
  footer .interview-blk .interview-box .interview-txt .interview-jp {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.4;
  }
  footer .footer-Recruit .footer-Recruit-blk {
    padding: 48px 10px;
  }
  footer .footer-Recruit .footer-Recruit-blk .footer-Recruit-img {
    width: 16px;
    height: 16px;
  }
  footer .footer-Recruit .footer-Recruit-blk .footer-Recruit-img img {
    width: 100%;
  }
  footer .footer-Recruit .footer-Recruit-blk .footer-Recruit-txt {
    font-size: 1.8rem;
    line-height: 1.35;
    letter-spacing: 1.4px;
  }
  footer .footer-dark-blk {
    padding: 35px 0 12px;
  }
  footer .footer-dark-blk .footer-upper ul {
    display: flex;
    justify-content: start;
  }
  footer .footer-dark-blk .footer-upper ul li:first-child {
    width: 26%;
  }
  footer .footer-dark-blk .footer-upper ul li:nth-child(2) {
    width: 25.6%;
  }
  footer .footer-dark-blk .footer-upper ul li:nth-child(3) {
    width: 25.8%;
  }
  footer .footer-dark-blk .footer-upper ul li:nth-child(4) {
    width: 22.7%;
  }
  footer .footer-dark-blk .footer-upper ul li a {
    padding-left: 14px;
    position: relative;
    line-height: 1.65;
    letter-spacing: 0;
  }
  footer .footer-dark-blk .footer-upper ul li a::before {
    content: "";
    position: absolute;
    background: url("../img/top/footer_arr_icon.png") no-repeat center/contain;
    left: 0;
    top: 60%;
    transform: translateY(-60%);
    width: 7px;
    height: 7px;
  }
  footer .footer-dark-blk .footer-upper ul ul {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
  }
  footer .footer-dark-blk .footer-upper ul ul li:first-child {
    width: 100%;
  }
  footer .footer-dark-blk .footer-upper ul ul li:nth-child(2) {
    width: 100%;
  }
  footer .footer-dark-blk .footer-upper ul ul li:nth-child(3) {
    width: 100%;
  }
  footer .footer-dark-blk .footer-upper ul ul li:nth-child(4) {
    width: 100%;
  }
  footer .footer-dark-blk .footer-upper ul ul li a {
    font-size: 1.4rem;
    padding-left: 13px;
    position: relative;
    letter-spacing: -1px;
    line-height: 1;
  }
  footer .footer-dark-blk .footer-upper .lower-lists {
    margin: 0 0 41px;
  }
  footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list {
    width: 100%;
  }
  footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list ul {
    padding-left: 0;
  }
  footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list ul li {
    width: 100%;
  }
  footer .footer-dark-blk .footer-upper .lower-lists .lower-last-list ul li a {
    font-size: 1.4rem;
    padding-left: 14px;
    position: relative;
    letter-spacing: -1px;
    line-height: 1;
  }
  footer .footer-dark-blk .footer-lower {
    padding-top: 40px;
  }
  footer .footer-dark-blk .footer-lower .footer-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 21px;
  }
  footer .footer-dark-blk .footer-lower .footer-address .footer-add-ttl {
    font-size: 1.5rem;
    line-height: 1.63;
    margin-bottom: 4px;
  }
  footer .footer-dark-blk .footer-lower .footer-address .footer-add-txt {
    font-size: 1.3rem;
    line-height: 1.73;
  }
  footer .footer-dark-blk .footer-lower .footer-copyright {
    margin-top: 43px;
    text-align: left;
  }
}
/*footer end*/
/* customer voice section start */
.customer-voice .header-block .header-wrapper {
  background: #fff;
}
.customer-voice .header-block .logo .logo-box {
  height: 80px !important;
}

.category-block {
  max-width: 1040px;
  margin: 0 auto;
  padding: 53px 20px 100px;
}
.category-block .category-flex {
  max-width: 493px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.category-block .category-flex a {
  border: 2px solid #0d41af;
  border-radius: 50px;
  text-align: center;
  padding: 4px 0;
}
.category-block .category-flex a p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #0d41af;
  line-height: 1.7;
  letter-spacing: 0;
}

.customer-column-list {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.customer-column-list .column-flex-list {
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  padding: 0;
}
.customer-column-list .column-flex-list .column-txt-list {
  margin: 12px 0 0;
}

.pagination-button-list {
  max-width: 321px;
  margin: 0 auto;
  padding: 63px 0 80px;
}
.pagination-button-list .pagi-flex {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.pagination-button-list .pagi-flex a {
  width: 148px;
  border: 1px solid #D9D9D9;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0d41af;
  padding: 13px 0;
}
.pagination-button-list .pagi-flex a p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagination-button-list .pagi-flex a p img {
  margin-bottom: -2px;
}

.button-list {
  display: flex;
  gap: 20px;
}
.button-list .button {
  display: block;
  width: calc((100% - 40px) / 3);
}
.button-list .button p {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .customer-voice .header-block .logo .logo-box {
    height: 60px !important;
  }
  .category-block {
    padding: 20px 10px;
  }
  .category-block .category-flex {
    max-width: 360px;
    gap: 10px;
  }
  .category-block .category-flex a {
    padding: 9px;
  }
  .category-block .category-flex a p {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .customer-column-list {
    padding: 0 10px;
  }
  .customer-column-list .column-flex-list .column-txt-list {
    margin: 0;
  }
  .button-list {
    flex-direction: column;
  }
  .button-list .button {
    max-width: 320px;
    display: block;
    width: 100%;
  }
  .button-list .button p {
    width: 100%;
  }
}
/* customer voice section end */
/*Detail Page*/
/*MV Detail section*/
.mv-feedback-sec {
  padding-top: 80px;
}
.mv-feedback-sec .mv-feedback-blk {
  background: url("../img/detail/mv_bg_img.png") no-repeat center/cover;
  width: 100%;
  height: 200px;
}
.mv-feedback-sec .mv-feedback-blk .mv-feedback-ttl {
  padding-top: 65px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
}
.mv-feedback-sec .breadcrumb-link {
  max-width: 485px;
  box-shadow: 2px 1px 7px rgb(201, 201, 201);
  border-radius: 6px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.mv-feedback-sec .breadcrumb-link ul {
  display: flex;
  align-items: center;
  padding: 13px 20px;
}
.mv-feedback-sec .breadcrumb-link ul img {
  width: 13px;
  height: 17px;
  margin-right: 4px;
}
.mv-feedback-sec .breadcrumb-link ul a {
  font-size: 1.3rem;
  letter-spacing: 0;
}
.mv-feedback-sec .breadcrumb-link ul .prev-link {
  color: #0d41af;
  margin-right: 14px;
}
.mv-feedback-sec .breadcrumb-link ul .first a {
  letter-spacing: -3px;
}
.mv-feedback-sec .breadcrumb-link ul .current-link {
  color: #888888;
}

@media screen and (max-width: 768px) {
  .mv-feedback-sec {
    padding-top: 61px;
  }
  .mv-feedback-sec .mv-feedback-blk {
    background: url("../img/detail/mv_bg_sp_img.png") no-repeat center/cover;
    width: 100%;
    height: 80px;
  }
  .mv-feedback-sec .mv-feedback-blk .container {
    max-width: 339px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .mv-feedback-sec .mv-feedback-blk .mv-feedback-ttl {
    padding-top: 29px;
    font-size: 1.8rem;
    line-height: 1.34;
  }
}
/*MV Detail End*/
/*Detail section*/
.detail-sec {
  margin: 42px 0 12px;
}
.detail-sec .detail-container {
  max-width: 700px;
  margin: 0 auto;
}
.detail-sec .detail-container .detail-type {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
  margin-bottom: 17px;
}
.detail-sec .detail-container .detail-type .detail-date {
  color: #888888;
}
.detail-sec .detail-container .detail-type .btn {
  display: inline-block;
  font-size: 1.2rem;
  background-color: #132242;
  padding: 4.5px 22px;
  color: #ffffff;
  border-radius: 4px;
}
.detail-sec .detail-container .first-img {
  margin-top: 44px;
}
.detail-sec .detail-container .first-img img {
  width: 100%;
}
.detail-sec .detail-container .second-img {
  max-width: 490px;
  margin: 50px auto 0;
}
.detail-sec .detail-container .second-img img {
  width: 100%;
}
.detail-sec .detail-container h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.35;
}
.detail-sec .detail-container p {
  padding: 40px 0;
  letter-spacing: 0;
  line-height: 1.28;
}
.detail-sec .pagi-center-flex {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.detail-sec .pagi-center-flex a {
  width: 242px;
  border: 1px solid #D9D9D9;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0d41af;
  padding: 13px 0;
}
.detail-sec .pagi-center-flex a p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.detail-sec .pagi-center-flex a p img {
  margin-bottom: -2px;
}

@media screen and (max-width: 768px) {
  .detail-sec {
    margin: 60px 0 17px;
  }
  .detail-sec .detail-container {
    max-width: 339px;
    margin: 0 auto;
  }
  .detail-sec .detail-container .detail-type {
    gap: 21px;
    margin-bottom: 14px;
  }
  .detail-sec .detail-container .detail-type .btn {
    padding: 3px 16px;
  }
  .detail-sec .detail-container .first-img {
    margin-top: 23px;
  }
  .detail-sec .detail-container .first-img img {
    width: 100%;
  }
  .detail-sec .detail-container .second-img {
    max-width: 490px;
    margin: 63px auto 0;
  }
  .detail-sec .detail-container .second-img img {
    width: 100%;
  }
  .detail-sec .detail-container h2 {
    font-size: 2.4rem;
    line-height: 1.42;
    letter-spacing: -1px;
  }
  .detail-sec .detail-container p {
    font-size: 1.4rem;
    padding: 20px 0;
    line-height: 1.15;
  }
  .detail-sec .pagi-center-flex {
    margin-top: 30px;
  }
  .detail-sec .pagination-button-list {
    max-width: 321px;
    margin: 0 auto;
    padding: 60px 0 60px;
  }
  .detail-sec .pagination-button-list .pagi-flex {
    gap: 20px;
  }
  .detail-sec .pagination-button-list .pagi-flex a {
    width: 148px;
    font-size: 1.8rem;
    padding: 13px 0;
  }
  .detail-sec .pagination-button-list .pagi-flex a p {
    gap: 10px;
  }
  .detail-sec .pagination-button-list .pagi-flex a p img {
    margin-bottom: -2px;
  }
  .button-list .button p {
    font-size: 1.4rem;
    padding: 8.75px 0;
  }
}
/*Detail section End*/
/*Detail Page End*/

/*# sourceMappingURL=style.css.map */
